---
- name: System setup as root
  hosts: all
  gather_facts: true
  remote_user: "{{ super_user }}"
  vars:
    ansible_ssh_pass: "{{ super_user_password }}"
  port: "{{ ssh_old_port }}"
  vars_files:
    - group_vars/all.yml
  roles:
    - role: system_setup
      tags: system_setup

- name: SSH setup and further tasks as user
  hosts: all
  port: "{{ ssh_old_port }}"
  remote_user: "{{ server_user }}"
  gather_facts: false
  vars:
    ansible_ssh_pass: "{{ generated_user_password }}"
    ansible_become_password: "{{ generated_user_password }}"
  vars_files:
    - group_vars/all.yml
  roles:
    - role: ssh_setup
      tags: ssh_setup

- name: Install user apps and settings
  hosts: all
  gather_facts: false
  vars:
    ansible_become_password: "{{ generated_user_password }}"
  vars_files:
    - group_vars/all.yml
  roles:
    - role: profile_update
      tags: profile_update

- name: Post install tasks
  hosts: all
  remote_user: "{{ server_user }}"
  become: true
  vars:
    ansible_ssh_pass: "{{ generated_user_password }}"
    ansible_become_password: "{{ generated_user_password }}"
  gather_facts: false
  tasks:
    - name: System upgrade
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
        autoremove: true
        cache_valid_time: 3600
      when: update_install | default(false)

    - name: Check UFW status
      ansible.builtin.command: ufw status
      register: ufw_check
      changed_when: false

    - name: Enable UFW
      ansible.builtin.command: ufw --force enable
      register: ufw_status
      changed_when: "'inactive' in ufw_check.stdout"
      when: enable_ufw | default(false)

    - name: Display final connection details
      ansible.builtin.debug:
        msg:
          - Setup completed successfully!
          - "Use the following details to connect to the server:"
          - "  - SSH Key Path: ~/.ssh/id_rsa_{{ ansible_host | default(inventory_hostname) }}"
          - "  - Username: {{ server_user }}"
          - "  - Password: {{ password_content.content | b64decode }}"
          - "  - Server IP: {{ ansible_host }}"
          - "  - SSH Port: {{ generated_ssh_port }}"
          - "  - UFW status: {{ ufw_status.stdout }}"
