# .github/workflows/ansible-lint.yml
name: ansible-lint
on: [push, pull_request]
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Harden-Runner
        uses: step-security/harden-runner@v2.10.2
        with:
          egress-policy: audit

      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        # optional (see below):

